/*
    WEBSITE CREATED BY JORDAN SCHULTE

        TWITTER - @Jxrdan29
        WEBSITE - https://jordandev.netlify.app/
        PAYPAL - https://paypal.me/phoaxy

    WEBSITE CREATED BY JORDAN SCHULTE
*/

/*NAVBAR STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-family: 'Recursive', sans-serif;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #43A6C6 ;
    min-height: 8vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-family: 'Recursive', sans-serif;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    color: snow;
    transition: 0.2s;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: black;
    transition: 0.2s;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
}

.burger div {
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: snow;
    transition: all 0.3s ease;
}

.burger:hover {
    cursor: pointer;
}

@media screen and (max-width:812px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 42vh;
        top: 8vh;
        background-color: #43A6C6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {

    from {
        opacity: 0;
        transform: translateX(100px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-6px);
}
    
/*BODY STYLES*/

header {
    background-color: transparent;
}

body {
    background-image: url(https://i.ibb.co/0qRPVz1/image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: transparent;
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

.header-text {
    padding: 45px 50px;
}

.header-text h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #43A6C6;
    font-size: 40pt;
    margin-bottom: 20px;
}

.header-text sub {
    font-size: 20pt;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.btn-started {
    color: #000000;
    font-weight: bold;
    background-color: #43A6C6;
    padding: 12px 60px;
    border: transparent;
    transition: 0.5s all;
    cursor: pointer;
}

.btn-started:hover {
    background-color: #43A6C683;
    transition: 0.2s all;
    transform: translateY(1.5px);
}

.btn-started:focus {
    outline: none;
}

.container-project img {
    border-radius: 10px;
}

.container-project h1  {
    color: white;
    font-size: 20pt;
    text-align: center;
    margin: 10px 0 0 5px;
}

.container-project button {
    margin-top: 25px;
    padding: 6px 48px;
    background-color: transparent;
    border: 2px solid white;
    color: #43A6C6;
    transition: 0.5s all;
}

.container-project button:hover {
    border-color: #43A6C6;
    background-color: #43A6C6;
    color: black;
    transition: 0.3s all;
    cursor: pointer;
}

.container-project button:focus {
    outline: none;
}

.container-project {
    transition: 0.2s;
    box-shadow: 0px 0px 5px #43A6C6;
}

.container-project:hover{
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0px 0px 20px #43A6C6;
}
.container-project {
    width: 300px;
    height: 300px;
    background-color: #000000;
    border-radius: 10px;
}

.blocks {
    padding: 0;
    margin: 0;
}

.blocks:hover {
    opacity: 0.4;
    display: inline-block;
}

.myproj {
    margin-top: 50px;
    color: white;
}

.row {
    justify-content: center;
    display: inline-flex;
}

.container-project {
    margin: 40px 20px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #43A6C6; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #43a5c683; 
  }
/*FOOTER STYLES*/
.foot-container {
    margin-top: 100px;
    background-color: #000000;
    width: 100%;
    color: white;
}

.foot-info {
    text-align: center;
    margin: 20px;
}

.foot-info sub {
    margin-top: 10px;
    font-size: 15pt;
}

.socialmedia {
    font-size: 30pt;
    margin-top: 30px;
    padding-bottom: 30px;
}

.fa-twitter, .fa-youtube, .fa-paypal, .fa-envelope, .fa-discord{
    color: white;
    transition: 0.2s;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #43A6C6;
    width: 80px;
    height: 80px;
    padding: 20px 20px;
    border-radius: 50%;
}

.fa-twitter:hover {
    transition: 0.2s;
    background-color: rgb(29,161,242);
    border-color: rgb(29,161,242);
}

.fa-youtube:hover {
    transition: 0.2s;
    background-color: #c4302b;
    border-color: #c4302b;
}

.fa-envelope:hover {
    transition: 0.2s;
    background-color: rgb(212, 70, 56);
    border-color: rgb(212, 70, 56);
}

.fa-paypal:hover {
    transition: 0.2s;
    background-color: rgb(0 69 124);
    border-color: rgb(0 69 124);
}

.fa-discord:hover {
    transition: 0.2s;
    background-color: #7289DA;
    border-color: #7289DA;
}


@media (max-width: 812px) {
    .navbar-brand {
        margin-left: 30px;
    }

    .navbar-toggler {
        margin-right: 30px;
    }

    .nav-link {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .navbar-nav {
        margin: 0;
    }

    .header-text h1 {
        font-size: 40pt;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', cursive;
    }

    .header-text sub {
        font-size: 15pt;
    }

    .foot-info h1 {
        font-size: 20pt;
    }

    .socialmedia {
        font-size: 20pt;
    }

    .fa-twitter, .fa-paypal, .fa-envelope{
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
    }

    body {
        background: url(https://i.ibb.co/19ByJx1/image-3.jpg);
        background-size: cover;
    }

    .row {
        display: inline-block;
    }

}

