/*
    WEBSITE CREATED BY JORDAN SCHULTE

        TWITTER - @Jxrdan29
        WEBSITE - https://jordandev.netlify.app/
        PAYPAL - https://paypal.me/phoaxy

    WEBSITE CREATED BY JORDAN SCHULTE
*/

/*NAVBAR STYLES*/
html, body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    color: #E97350;
    text-transform: uppercase;
    font-family: 'Recursive', sans-serif;
    letter-spacing: 2px;
    cursor: default;
}

.logo:hover {
    color: #f78866;
    text-shadow: 0px 0px 18px #f78866;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent ;
    background-color: transparent;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    font-family: 'Recursive', sans-serif;
    margin: 20px 0px;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    color: rgba(255, 250, 250, 0.3);
    text-transform: uppercase;
    padding: 20px 30px;
    background-color: transparent;
    transition: 0.3s;
}

.nav-links a:hover {
    color:#f78866;
    text-shadow: 0px 0px 18px #f78866;
    transition: 0.3s;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
}

.burger div {
    width: 30px;
    height: 2px;
    margin: 5px;
    background-color: snow;
    transition: all 0.3s ease;
}

.burger:hover {
    cursor: pointer;
}

@media screen and (max-width:812px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 42vh;
        top: 8vh;
        background-color: #262626;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        text-decoration: none;
        letter-spacing: 3px;
        transition: 0.2s;
        text-transform: uppercase;
        padding: 10px 10px;
        border-radius: 10px;
    }

    .nav-links a:hover {
        padding: 10px 10px;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        margin: 30px 0px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {

    from {
        opacity: 0;
        transform: translateX(100px);
    }
    
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-6px);
}
    
/*BODY STYLES*/

header {
    background-color: transparent;
}

body {
    background-image: url(https://i.ibb.co/R7NMXz4/5462979.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: transparent;
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

.header-text {
    padding: 45px 50px;
}

.header-text h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #E97350;
    font-size: 40pt;
    margin-bottom: 20px;
    text-shadow: black 0px 0px 18px;
}

.header-text sub {
    font-size: 20pt;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.btn-started {
    color: white;
    font-weight: bold;
    background-color: transparent;
    padding: 12px 60px;
    border: 3px solid #E97350;
    transition: 0.2s all;
    cursor: pointer;
    font-size: 15pt;
    background-color: #E97350;
    border-radius: 50px;
    letter-spacing: 2px;
    font-family: 'Ubuntu Mono', monospace;
}

.btn-started:hover {
    background-color: #8d3d25;
    border-color: #8d3d25;
    transition: 0.2s all;
}

.btn-started:focus {
    outline: none;
}

.container-project h1  {
    color: #f78866;
    font-size: 20pt;
    text-align: center;
    margin: 10px 0 0 5px;
    cursor: default;
}

.container-project h1:hover {
    cursor: default;
}

.container-project button {
    margin-top: 25px;
    padding: 6px 48px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    letter-spacing: 2px;
}

.container-project button:hover {
    background-color: #E97350;
    color: white;
    cursor: pointer;
    border-color: #E97350;
}

.container-project button:focus {
    outline: none;
}

.container-project {
    transition: .5s;
}

.container-project:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 0px 0px 20px #E97350;
}
.container-project {
    width: 300px;
    height: 300px;
    background-color: #262626;
    border-radius: 10px;
}

.myproj {
    margin-top: 50px;
    color: white;
    font-size: 25pt;
    text-shadow: 0px 0px 5px black;
}

.row {
    justify-content: center;
    display: inline-flex;
}

.container-project {
    margin: 40px 20px;
}

.container-project img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.updated {
    margin: 5px auto 0px;
    background-color: orange;
    padding: 1px;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: default;
}

.new {
    margin: 5px auto 0px;
    background-color: red;
    padding: 1px;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    cursor: default;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#262626;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E97350; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f78866; 
  }
/*FOOTER STYLES*/
.foot-container {
    position: absolute;
    background-color: black;
    width: 100%;
    color: white;
}

.foot-info {
    text-align: center;
    margin: 20px;
}

.foot-info h1 {
    color: #E97350;
}

.foot-info sub {
    margin-top: 10px;
    font-size: 15pt;
}

.socialmedia {
    margin: 30px auto;
    text-align: center;
}

.fa-twitter, .fa-github, .fa-paypal, .fa-envelope {
    padding: 15px;
    font-size: 30pt;
    transition: 0.2s;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}

.fa-twitter:hover {
    transition: 0.2s;
    color:#f78866;
    text-shadow: 0px 0px 10px #f78866;
}

.fa-github:hover {
    transition: 0.2s;
    color:#f78866;
    text-shadow: 0px 0px 10px #f78866;
}

.fa-envelope:hover {
    transition: 0.2s;
    color:#f78866;
    text-shadow: 0px 0px 10px #f78866;
}

.fa-paypal:hover {
    transition: 0.2s;
    color:#f78866;
    text-shadow: 0px 0px 10px #f78866;
}

@media (max-width: 812px) {
    body {
        background: black;
    }

    .navbar-brand {
        margin-left: 30px;
    }

    .navbar-toggler {
        margin-right: 30px;
    }

    .nav-link {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .navbar-nav {
        margin: 0;
    }

    .header-text h1 {
        font-size: 40pt;
        letter-spacing: 2px;
        font-family: 'Bebas Neue', cursive;
    }

    .header-text sub {
        font-size: 15pt;
    }

    .foot-info h1 {
        font-size: 20pt;
    }

    .socialmedia {
        font-size: 20pt;
    }

    .fa-twitter, .fa-paypal, .fa-envelope{
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
    }

    .row {
        display: inline-block;
    }

}