/*
    WEBSITE CREATED BY JORDAN SCHULTE

        TWITTER - @Jxrdan29
        WEBSITE - https://jordandev.netlify.app/
        PAYPAL - https://paypal.me/phoaxy

    WEBSITE CREATED BY JORDAN SCHULTE
*/

/*NAVBAR STYLES*/
a {
    text-decoration: none;
}

.bg-custom {
    background-color: transparent;
}

.nav-link {
    color: white !important;
    margin: 0px 5px;
}

.nav-link:hover {
    text-shadow: 0px 0px 18px white;
    color: #43A6C6 !important;
    transition: 0.2s;
}

.nav-link:hover::after {
    width: 100%;
    transition: 0.2s ease-in;
    opacity: 100;
    background-color: #43A6C6;
    text-shadow: 0px 0px 18px #43A6C6;
    margin-left: 0px;
}

.nav-link::after {
    content: '';
    display: block;
    height: 1px;
    background-color: white;
    transition: 0.2s ease-in-out;
    width: 0;
    margin-left: auto;
}

.navbar-nav {
    margin-right: 300px;
}

.navbar-brand {
    margin-left: 300px;
    color: #43A6C6 !important;
    font-size: 14pt;
    transition: 0.2s;
}

.navbar-brand:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler-icon {
    background-image: url(https://i.ibb.co/HTcM0xY/burger.png) !important;
}
/*BODY STYLES*/
body {
    background-image: url(https://i.ibb.co/0qRPVz1/image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin-top: 50px;
    width: 80%;
}

.container-info h1 {
    color: #43A6C6;
    font-size: 40pt;
}

.container-info sub {
    color: white;
    font-size: 15pt;
}

.plswait {
    color: #43A6C6;
    font-size: 40pt;
    margin-top: 20px;
}

.plswait-sub {
    font-size: 15pt;
    color: white;
}

.plugins-sub {
    font-size: 15pt;
    color: white;
}

.btnwebsite {
    color: white;
    background-color: #43A6C6;
    padding: 10px 36px;
    border: transparent;
    transition: 0.5s all;
    cursor: pointer;
    margin: 5px 0px 30px;
}

.btnwebsite:hover {
    box-shadow: 0px 0px 0px 2px #43A6C6;
    background-color: #43a5c671;
    transition: 0.2s all;
}

.btnwebsite:focus {
    outline: none;
}

.plugins {
    color: #43A6C6;
    margin: 10px 0px 20px;
    font-size: 40pt;
}

ul a {
    color: #43A6C6;
}

ul a:hover {
    color: #43a5c6a2;
}

li {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #43A6C6; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #43a5c683; 
  }

/*FOOTER STYLES*/
.foot-container {
    margin-top: 100px;
    background-color: #000000;
    width: 100%;
    color: white;
}

.foot-info {
    text-align: center;
    margin: 20px;
}

.foot-info sub {
    margin-top: 10px;
    font-size: 15pt;
}

.socialmedia {
    font-size: 30pt;
    margin-top: 30px;
    padding-bottom: 30px;
}

.fa-twitter, .fa-fire, .fa-paypal, .fa-envelope, .fa-discord{
    color: white;
    transition: 0.2s;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #43A6C6;
    width: 80px;
    height: 80px;
    padding: 20px 20px;
    border-radius: 50%;
}

.fa-twitter:hover {
    transition: 0.2s;
    background-color: rgb(29,161,242);
    border-color: rgb(29,161,242);
}

.fa-fire:hover {
    transition: 0.2s;
    background-color: #e25822;
    border-color: #e25822;
}

.fa-envelope:hover {
    transition: 0.2s;
    background-color: rgb(212, 70, 56);
    border-color: rgb(212, 70, 56);
}

.fa-paypal:hover {
    transition: 0.2s;
    background-color: rgb(0 69 124);
    border-color: rgb(0 69 124);
}

.fa-discord:hover {
    transition: 0.2s;
    background-color: #7289DA;
    border-color: #7289DA;
}


@media (max-width: 812px) {

    .img-studio {
        width: 300px;
    }
    .navbar-brand {
        margin-left: 30px;
    }

    .navbar-toggler {
        margin-right: 30px;
    }

    .nav-link {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .navbar-nav {
        margin: 0;
    }

    .foot-info h1 {
        font-size: 20pt;
    }

    .container-info h1 {
        font-size: 30pt;
    }

    .container-info h1 {
        font-size: 35pt;
    }

    .container-info sub {
        font-size: 15pt;
    }

    .plswait {
        font-size: 30pt;
    }

    .socialmedia {
        font-size: 20pt;
    }

    .fa-twitter, .fa-paypal, .fa-envelope{
        width: 70px;
        height: 70px;
        margin-bottom: 30px;
    }

    body {
        background: url(https://i.ibb.co/19ByJx1/image-3.jpg);
        background-size: cover;
    }

}